.sessions
build
node_modules
terminal/mt5/terminal64.exe
terminal/mt5/bases
terminal/mt5/profiles
terminal/mt5/Tester
terminal/mt4/history
terminal/mt4/logs
terminal/mt4/profiles
terminal/mt4/tester
terminal/dist
terminal/mt5/metatester64.exe
terminal/mt4/uninstall.exe
.vscode
*.code-workspace
*.log
*.exe
*mqlcache.dat